.listBody {
  max-height: 400px;
  overflow-y: visible;
}

.modalBody {
  position: relative;
}

.modalTitle {
  /* margin: 0 0 10px 0; */
  font-size: 15px;
}

.option {
  font-size: 15px;
  color: #515151;
}
